/* --------------------------------------- Global --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body tenha no mínimo a altura da janela */
}

/* --------------------------------------- Header --------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #60c659;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  font-size: 18px;
  color: #1d1a1a;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav ul li a:focus,
nav ul li a:hover {
  color: #60c659;
}

nav ul li a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.4s ease, left 0.4s ease;
}

nav ul li a:hover:after {
  width: 100%;
  left: 0%;
}

.social-media a {
  margin-left: 15px;
}

.social-media img {
  width: 20px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.social-media img:hover {
  filter: grayscale(0%);
}

/* -------------------------- Carousel --------------------------------------- */
.carousel-container {
  max-width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
}

.carousel-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators button.active {
  background-color: #60c659;
}

/* ------------------------- Intro Section ------------------------------ */
.intro-section {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: #e3f4dc;
  max-width: 100%;
  height: 400px;
  border-radius: 10px;
  align-items: center;
}

/* ----------------------- Discard Section ---------------------------- */
.discard-section {
  background-color: #555;
  color: white;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.discard-section h2 {
  font-size: 18px;
  margin: 0;
}

.discard-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 20px;
}

.discard-form input,
.discard-form select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  width: 90%;
  font-size: 14px;
}

/* ------------------------ Material Grid ----------------------------- */
.materials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.material {
  text-align: center;
  cursor: pointer;
  position: relative;
}

.material input {
  display: none;
}

.material img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 30px;
  transition: border 0.3s ease;
  border: 5px solid transparent;
}

.material span {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.material:hover img {
  border: 5px solid #006eff; /* Borda azul ao passar o mouse */
}

.material input:checked + img {
  border: 5px solid #006eff;
}

/* ---------------------------- Footer ---------------------------- */
.footer {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.footer p {
  margin: 0;
}

.footer a {
  color: #00aeef; /* Blue color for links */
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* ----------------------- Responsive Styles -------------------------- */
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }

  .carousel-container {
    width: 100%;
  }

  .materials {
    grid-template-columns: repeat(2, 1fr); /* Ajusta para duas colunas em telas médias */
  }

  .discard-section {
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 30px;
  }

  .carousel-indicators button {
    width: 8px;
    height: 8px;
  }

  .materials {
    grid-template-columns: 1fr; /* Uma coluna em telas muito pequenas */
  }

  .intro-section {
    height: 250px; /* Menor altura em dispositivos móveis */
  }

  .discard-section {
    width: 100%;
    margin-top: 10px;
  }
}
