@{
    ViewBag.Title = "Alterar Senha";
}
<h2>Alterar Senha</h2>

<form method="post" action="@Url.Action("MudandoSenha", "Usuarios")">
    <div class="form-group">
        <label for="novaSenha">Nova Senha</label>
        <input type="password" id="novaSenha" name="novaSenha" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="confirmarSenha">Confirmar Senha</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Alterar Senha</button>
</form>
