<h2>Digite Seu Email para recuperação de Senha</h2>

<form method="post" action="@Url.Action("EnviarCodigoParaValidacao", "Usuarios")">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Enviar Código</button>
</form>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-info">
        @TempData["Mensagem"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        @TempData["MensagemErro"]
    </div>
}
