@{
    ViewData["Title"] = "Notícias";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="stylesheet" href="~/css/style-noticias.css">
    <link rel="icon" href="~/img/ecocriaimg.png">
</head>

<body>
    <main>
        <h1>Notícias</h1>

        <div class="lista-noticias">
            <div class="item">
                <a class="link-noticia"
                    href="https://sigmaearth.com/pt/As-10-principais-notícias-de-sustentabilidade-de-2024/" target="_blank">
                    <img src="~/img/energia-eolica.png" alt="">
                    <h2 class="titulo">A Revolução das Energias Renováveis</h2>
                    <span class="btn-mais">LER MAIS</span>
                </a>
            </div>

            <div class="item">
                <a class="link-noticia"
                    href="https://www.unep.org/pt-br/noticias-e-reportagens/reportagem/rumo-sustentabilidade-o-que-esperar-da-pauta-ambiental-em-2024" target="_blank">
                    <img src="~/img/crise-plastico.jpg" alt="">
                    <h2 class="titulo">A Crise da Poluição Plástica e Soluções Globais</h2>
                    <span class="btn-mais">LER MAIS</span>
                </a>
            </div>

            <div class="item">
                <a class="link-noticia"
                    href="https://www.noticiasustentavel.com.br/tratado-poluicao-plastica/" target="_blank">
                    <img src="~/img/tratado.jpg" alt="">
                    <h2 class="titulo">Tratado Global para Combater a Poluição Plástica</h2>
                    <span class="btn-mais">LER MAIS</span>
                </a>
            </div>

            <div class="item">
                <a class="link-noticia"
                    href="https://agenciabrasil.ebc.com.br/meio-ambiente/noticia/2024-11/producao-sustentavel-de-bioplasticos-exige-gestao-de-residuos" target="_blank">
                    <img src="~/img/bioplastico.jpg" alt="">
                    <h2 class="titulo">Produção sustentável de bioplástico exige gestão cuidadosa de resíduos</h2>
                    <span class="btn-mais">LER MAIS</span>
                </a>
            </div>

            <div class="item">
                <a class="link-noticia"
                    href="https://www.portaldomeioambiente.com.br/coleta-seletiva-o-que-e-como-fazer-e-quais-os-impactos-sociais/" target="_blank">
                    <img src="~/img/coleta.jpeg" alt="">
                    <h2 class="titulo">Coleta seletiva: o que é, como fazer e quais os impactos sociais elas podem gerar</h2>
                    <span class="btn-mais">LER MAIS</span>
                </a>
            </div>

            <div class="item">
                <a class="link-noticia"
                    href="https://abree.org.br/black-friday-consciente-incentivo-ao-descarte-correto-de-eletroeletronicos-e-eletrodomesticos-substituidos" target="_blank">
                    <img src="~/img/incentivo.webp" alt="">
                    <h2 class="titulo">Incentivo ao descarte correto de eletroeletrônicos e eletrodomésticos substituídos</h2>
                    <span class="btn-mais">LER MAIS</span>
                </a>
            </div>
            
        </div>
    </main>
</body>