@{
    ViewData["Title"] = "Notícias";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="stylesheet" href="~/css/style-noticias.css">
    <link rel="icon" href="~/img/ecocriaimg.png">
</head>



<h1>Notícias</h1>
<p>Notícias</p>

<div class="lista-noticias">
    <!-- Notícia 1 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 2 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 3 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 4 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 5 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 6 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 7 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 8 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Notícia 9 -->
    <div class="item">
        <a href="https://abree.org.br/saiba-como-realizar-consumo-consciente-de-eletroeletronicos-e-eletrodomesticos-">
            <img src="~/img/orientar.jpg" alt="">
            <h2 class="titulo">Orientar para preservar: a urgência da educação ambiental hoje</h2>
            <span class="btn-mais">LER MAIS</span>
        </a>
    </div>

    <!-- Adicione mais itens de notícia aqui seguindo o mesmo padrão -->
</div>

</html>