* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  min-height: 100vh;


}


main {

  background-color: #fff;
  flex: 1;
}

.intro-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #e3f4dc;
}

.intro-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.description {
  text-align: left;
  margin-bottom: 20px;
}

.description p {
  font-size: 1rem;
  color: #333;
  margin: 0 auto;
  max-width: 800px;
  font-weight: bold; /* Aplica o negrito */
}

.objectives-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.objective-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.objective-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  padding-right: 10px;
}

.objective-text p {
  color: #333;
  font-size: 1rem;
  text-align: justify;
  font-weight: bold; /* Aplica o negrito */
}



.mission-vision-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e8f5e9; /* Cor clara de fundo */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.image-container img {
  max-width: 100%;
  border-radius: 15px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0.5;
}

.green-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #77c043;
  color: white;
  border: 2px solid #77c043;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.green-button:hover {
  background-color: white;
  color: #77c043;
}

.green-button span {
  font-size: 1.2rem;
  font-weight: normal;
}

.content-box {
  margin-top: 20px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  text-align: left;
  
}
/*---------------------ultima parte sobre ------------------------*/

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
}

.contact-form {
  flex: 1;
  margin-right: 50px;
}

.contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.formulario {
  margin-bottom: 20px;
  text-align: center; /* Centraliza o texto dentro do input */
}

.formulario label {
  display: block;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #77c043;
  margin-bottom: 5px;
}

.form-control,
.formulario textarea {
  width: 100%; /* Altera a largura para 100% do espaço do grupo */
  max-width: 400px; /* Define uma largura máxima para inputs */
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin: 0 auto; /* Centraliza o input dentro do grupo */
}

.form-control,
.formulario textarea:focus {
  border-color: #77c043;
  outline: none;
}

.submit-button {
  display: block; /* Garante que o botão ocupe uma linha inteira */
  background-color: #77c043;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto; /* Centraliza o botão */
}

.submit-button:hover {
  background-color: #64a836;
}

.contact-image {
  flex: 0.5;
}

.contact-image img {
  flex: 1;
  display: flex;
  justify-content: center;
  
}


/*----------------------------------- Cabeçalho ---------------------------------------------------**/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}
