.login-container {
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* Ajuste para acomodar mais campos */
  text-align: center;
  margin: auto; /* Centraliza horizontalmente */
  margin-bottom: 45%;
  font-weight: bold;
}

.login-container h2 {
  color: white;
  font-weight: bold;
}

.login-container label {
  color: white;
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
}


.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container input[type="submit"] {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Mudança de cor ao passar o mouse sobre o botão */
.login-container input[type="submit"]:hover {
  background-color: #2E7D32;
  color: white;
  text-transform: bold;
  font-weight: bold;
}

.login-container .register-link {
  display: block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-container .register-link:hover {
  text-decoration: underline;
  font-weight: bold;
}